node_modules/
npm-debug.log/
.env
.DS_Store
*.log
*.mp4
ashwin-gopalsamy/case-study-project/project-converge/docs/deck/converge.pptx
ashwin-gopalsamy/case-study-project/project-converge/docs/deck/converge.pptx
*.pptx
