<app-header></app-header>
<div class="container" style="margin-bottom: 40px;">
	<div style="margin-top: 50px; margin-bottom: 50px;" class="input-group">
    <div style="margin-top: 50px; margin-bottom: 50px;"><strong>Find Food By FoodId</strong></div>
    <form #authFindForm="ngForm" (ngSubmit)="onFindFood(authFindForm)" class="bg-gradient">
			<div class="form-group" style="margin-top: 50px; margin-bottom: 50px; margin-left: 50px;">
				<input
					type="number"
					id="findfoodid"
					name="findfoodid"
					class="form-control"
					ngModel
					required
				/>
			</div>
			<div class="form-group text-center">
				<button type="submit" class="btn btn-primary" style="margin-top: 10px;" [disabled]="!authFindForm.valid">Find</button>
			</div>
		</form>
    <div *ngIf="findfoodData" style="margin-left: 30px;">
      <p style="color: blue;">Id: {{food.id}}</p>
      <p style="color: blue;">Food Id: {{food.foodId}}</p>
      <p style="color: blue;">Food Name: {{food.foodName}}</p>
      <p style="color: blue;">Food Cost: {{food.foodCost}} Rs.</p>
      <p style="color: blue;">Food Type: {{food.foodType}}</p>
    </div>
    <div *ngIf="!findfoodData">
      <p style="color: red;">{{findfoodMessage}}</p>
    </div>
  </div>
</div>
<div style="margin-bottom: 400px;"></div>
<app-footer></app-footer>
