<footer style="background-color: black">
	<div style="display: flex;">
		<div class="first">
			<div>Swigggy FoodApp Private Limited.</div>
			<div style="margin-top:-5px;">2nd Floor, SCO-63, Old</div>
			<div style="margin-top:-5px;">Judicial Complex, Sector 15</div>
			<div style="margin-top:-5px;">Gurgaon - 122001, Haryana, India</div>
		</div>
		<div class="second">
			<div>Phone +91 - 9136773059</div>
			<div style="margin-top:-5px;">Email: info@swigggytech.com</div>
			<div style="margin-top:-5px;">http://www.swigggy.com</div>
			<div style="margin-top:-5px;">CIN: U72200HR2009PTC038717</div>
		</div>
	</div>
</footer>
